* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

body {
  font-size: 12px;
  font-weight: 400;
  color: #343A40; }

.modal-content {
  background-color: #F4FBFE; }
  .modal-content .form-check {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none; }

input:focus {
  outline: none; }

.border-red-ico {
  border: 1px solid #EB4B4D;
  border-radius: 20px;
  padding: 1rem; }

.styly-none {
  text-decoration: none; }

.fw-100 {
  font-weight: 100; }

.fw-200 {
  font-weight: 200; }

.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-800 {
  font-weight: 800; }

.fw-900 {
  font-weight: 900; }

.text-red {
  color: #EB4B4D; }

.text-gray {
  color: #7F8B97; }

.bg-red {
  background-color: #EB4B4D; }

.bg-dark {
  background-color: #2E3740; }

.text-fz-20 {
  font-size: 20px; }

.title {
  font-size: 24px; }
  .title_medium {
    font-size: 24px; }
  .title_small {
    font-size: 16px; }

.btn {
  font-weight: 400;
  width: 250px;
  padding: 20px 0;
  text-align: center;
  border-radius: 30px;
  transition: background-color .5s, color .5s, border .5s, transform .5s, box-shadow .5s; }
  .btn:hover {
    transform: translate(-5px, 5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }
  .btn_red {
    color: #fff;
    background-color: #EB4B4D; }
    .btn_red:hover {
      color: #000;
      background-color: #fff;
      border: 1px solid #000; }
  .btn_white {
    color: #343A40;
    background-color: #fff; }
    .btn_white:hover {
      background-color: #343A40;
      color: #fff;
      border: 1px solid #000; }

.input_text {
  padding: 15px 0 15px 15px;
  border-radius: 15px;
  border: 1px solid #D9E0E8; }

.inner-out-sum {
  padding: 15px 0 15px 15px;
  border-radius: 15px;
  border: 1px solid #D9E0E8;
  display: flex;
  align-items: center;
  width: 100%; }
  .inner-out-sum p {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 900; }
    .inner-out-sum p::after {
      content: '\20BD';
      margin-left: 15px; }

.container-form-index {
  padding: 60px 0px 70px;
  border-radius: 15px;
  transform: translateY(-40%);
  border: 1px solid #CADBE2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
  .container-form-index .title_small {
    max-width: 250px; }
  .container-form-index .input_text {
    width: auto; }
  .container-form-index .btn {
    width: auto; }
  .container-form-index form {
    width: 80%;
    position: relative; }
  .container-form-index span {
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    font-size: 10px;
    width: 80%; }

.form-check-input:checked {
  border: 1px solid #7F8B97;
  background-color: #EB4B4D; }

.form-check {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); }

.header {
  background-image: url(../img/header/bg.png);
  background-repeat: no-repeat;
  background-position-y: top;
  padding: 20px 0 60px 0; }

.top-section {
  background-image: url(../img/top-section/bg.png);
  background-repeat: no-repeat;
  background-position-y: top; }

.fast-money__ico-box {
  max-width: 200px; }

.top-block__img {
  width: 100%; }

.receive {
  background-color: #F4FBFE; }
  .receive ul li {
    list-style: none;
    margin: 20px 0;
    position: relative; }
    .receive ul li::before {
      content: '\2022';
      font-size: 25px;
      position: absolute;
      left: -15px;
      top: -5px;
      color: #EB4B4D; }

.loan {
  padding: 130px 0; }

.why {
  background-image: url(../img/why/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  padding-bottom: 120px; }
  .why__box__title {
    font-size: 18px; }

.advantages__item_num {
  font-size: 36px;
  margin-right: 20px;
  position: relative; }
  .advantages__item_num::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    width: 30%;
    height: 3px;
    background-color: #EB4B4D; }

.advantages__item__line {
  display: none;
  width: 3px;
  height: 30%;
  background-color: #EB4B4D;
  left: 36px;
  top: 45px;
  position: absolute; }

.plus {
  background-color: #fff; }
  .plus__box__text {
    font-size: 14px; }

.range-box {
  width: 70%;
  top: -20%;
  position: absolute;
  left: 20%; }

.range {
  position: relative;
  height: 3px;
  background: #B8CED8;
  z-index: 99; }

.range__input::-webkit-slider-thumb {
  width: 22px;
  height: 22px; }

.range__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  position: absolute;
  z-index: 5;
  background: none;
  opacity: 0;
  cursor: pointer;
  height: 40px;
  left: 0px;
  top: -20px;
  line-height: 40px; }

.range__track {
  position: absolute;
  height: 100%;
  background: #EB4B4D;
  display: block;
  z-index: 2; }

.range__track:after {
  width: 73px;
  height: 20px;
  position: absolute;
  content: '';
  right: 0px;
  top: 50%;
  margin-top: -10px;
  cursor: pointer;
  z-index: 6;
  background: #fff;
  background-image: url(../img/range.png);
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: 0px 0px 7.84px 0.16px rgba(0, 0, 0, 0.2);
  margin-right: -10px;
  border-radius: 5px; }

.range-val {
  color: #333333;
  position: absolute;
  right: 0;
  margin-right: -50px;
  bottom: -30px;
  background-color: #fff;
  font-size: 16px;
  width: 100px;
  text-align: center; }

.min_val_range {
  position: absolute;
  left: 0;
  bottom: -30px;
  color: #aaaaaa;
  font-size: 16px; }

.max_val_range {
  position: absolute;
  right: 0;
  color: #aaaaaa;
  bottom: -30px;
  font-size: 16px; }

.swiper-container {
  width: 100%;
  height: 450px;
  padding: 20px; }

.swiper-pagination {
  bottom: 0 !important; }

.swiper-slide {
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .swiper-slide__avatar {
    width: 100px;
    border-radius: 15px;
    margin-right: 15px;
    border: 2px solid #EB4B4D; }

.red-container {
  display: grid;
  transform: translateY(-30%);
  width: 100%;
  padding: 25px 10px;
  border-radius: 15px;
  grid-template-areas: "." "b1" "b2" "b3" "."; }
  .red-container__block1 {
    grid-area: b1;
    align-self: center; }
  .red-container__block2 {
    grid-area: b2;
    height: 280px; }
    .red-container__block2__img {
      bottom: -25px;
      left: -130%;
      width: 260px; }
    .red-container__block2__img-mobile {
      width: 280px;
      transform: rotate(-90deg);
      right: -18%; }
  .red-container__block3 {
    grid-area: b3;
    align-self: center;
    justify-self: center; }
