* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

body {
  font-size: 12px;
  font-weight: 400;
  color: #343A40; }

.fw-100 {
  font-weight: 100; }

.fw-200 {
  font-weight: 200; }

.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-800 {
  font-weight: 800; }

.fw-900 {
  font-weight: 900; }

.text-red {
  color: #EB4B4D; }

.text-gray {
  color: #7F8B97; }

.bg-red {
  background-color: #EB4B4D; }

.bg-dark {
  background-color: #2E3740; }

.title {
  font-size: 24px; }
  .title_medium {
    font-size: 24px; }
  .title_small {
    font-size: 16px; }

.btn {
  font-weight: 400;
  width: 250px;
  padding: 20px 0;
  text-align: center;
  border-radius: 30px;
  transition: background-color .5s, color .5s, border .5s, transform .5s, box-shadow .5s; }
  .btn:hover {
    transform: translate(-5px, 5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }
  .btn_red {
    color: #fff;
    background-color: #EB4B4D; }
    .btn_red:hover {
      color: #000;
      background-color: #fff;
      border: 1px solid #000; }
  .btn_white {
    color: #343A40;
    background-color: #fff; }
    .btn_white:hover {
      background-color: #343A40;
      color: #fff;
      border: 1px solid #000; }

.input_text {
  padding: 15px 0 15px 15px;
  border-radius: 15px;
  border: 1px solid #D9E0E8; }

.container-form-index {
  padding: 60px 0px 70px;
  border-radius: 15px;
  border: 1px solid #CADBE2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
  .container-form-index .title_small {
    max-width: 250px; }
  .container-form-index .input_text {
    width: auto; }
  .container-form-index .btn {
    width: auto; }
  .container-form-index form {
    width: 80%;
    position: relative; }
  .container-form-index span {
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    font-size: 10px;
    width: 80%; }

.form-check-input:checked {
  border: 1px solid #7F8B97;
  background-color: #EB4B4D; }

.form-check {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); }

.header {
  background-image: url(../img/header/bg.png);
  background-repeat: no-repeat;
  background-position-y: top;
  padding: 20px 0 60px 0; }

.top-section {
  background-image: url(../img/top-section/bg.png);
  background-repeat: no-repeat;
  background-position-y: top; }

.receive {
  background-color: #F4FBFE; }

.why {
  background-image: url(../img/why/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top; }
  .why__box__title {
    font-size: 18px; }

.plus {
  background-color: #fff; }
  .plus__box__text {
    font-size: 14px; }
